.DS_Store
target/
data/
node_modules/
.next/
out/
webui/.next/
webui/out/
webui/.npm-cache/
webui/tsconfig.tsbuildinfo
webui/*.tsbuildinfo
webui/vite.config.js
webui/vite.config.d.ts
webui/tailwind.config.js
webui/tailwind.config.d.ts
deploy/.env
deploy/logagent.yaml
.idea
